
.card-text {
  text-align: center;
}


.card {
  margin: 1rem;
  border-width: 0;
  height: 100%;
}


.card-container {
  border-radius: 2rem;
  box-shadow: 0px 10px 8px #e2e0e2;
  
  height: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  margin: 1rem;
}


@media screen and (min-width: 992px) {
  .card-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
.btn{
  box-shadow: 3px 3px 2px rgb(215, 215, 215);
  color: green;
  border-radius: 4px;
  transition : transform 0.2s, box-shadow .2s;
}
.btn:active{
  color: rgb(78, 224, 78) rgb(148, 146, 146);
  transform: translateX(2px) translateY(2px);
  box-shadow: 0px 0px 0px  ;
}
.btn:hover{
  backgroundcolor:rgb(137, 235, 137)
}
